@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 243, 244, 246;
  --background-end-rgb: 243, 244, 246;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 243, 244, 246;
    --background-start-rgb: 0, 0, 0; /*take care of light and dark mode afterwards*/
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Recoleta', sans-serif;
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('../../public/fonts/Recoleta/RecoletaAlt-Thin.eot');
  src:
    local('../../public/fonts/Recoleta/Recoleta Alt Thin'),
    local('../../public/fonts/Recoleta/RecoletaAlt-Thin'),
    url('../../public/fonts/Recoleta/RecoletaAlt-Thin.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Recoleta/RecoletaAlt-Thin.woff2') format('woff2'),
    url('../../public/fonts/Recoleta/RecoletaAlt-Thin.woff') format('woff'),
    url('../../public/fonts/Recoleta/RecoletaAlt-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta';
  src: url('../../public/fonts/Recoleta/Recoleta-Medium.eot');
  src:
    local('../../public/fonts/Recoleta/Recoleta Medium'),
    local('../../public/fonts/Recoleta/Recoleta-Medium'),
    url('../../public/fonts/Recoleta/Recoleta-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Recoleta/Recoleta-Medium.woff2') format('woff2'),
    url('../../public/fonts/Recoleta/Recoleta-Medium.woff') format('woff'),
    url('../../public/fonts/Recoleta/Recoleta-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('../../public/fonts/Recoleta/RecoletaAlt-SemiBold.eot');
  src:
    local('../../public/fonts/Recoleta/Recoleta Alt SemiBold'),
    local('../../public/fonts/Recoleta/RecoletaAlt-SemiBold'),
    url('../../public/fonts/Recoleta/RecoletaAlt-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Recoleta/RecoletaAlt-SemiBold.woff2')
      format('woff2'),
    url('../../public/fonts/Recoleta/RecoletaAlt-SemiBold.woff') format('woff'),
    url('../../public/fonts/Recoleta/RecoletaAlt-SemiBold.ttf')
      format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('../../public/fonts/Recoleta/RecoletaAlt-Medium.eot');
  src:
    local('../../public/fonts/Recoleta/Recoleta Alt Medium'),
    local('../../public/fonts/Recoleta/RecoletaAlt-Medium'),
    url('../../public/fonts/Recoleta/RecoletaAlt-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Recoleta/RecoletaAlt-Medium.woff2') format('woff2'),
    url('../../public/fonts/Recoleta/RecoletaAlt-Medium.woff') format('woff'),
    url('../../public/fonts/Recoleta/RecoletaAlt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('../../public/fonts/Recoleta/RecoletaAlt-Regular.eot');
  src:
    local('../../public/fonts/Recoleta/Recoleta Alt Regular'),
    local('../../public/fonts/Recoleta/RecoletaAlt-Regular'),
    url('../../public/fonts/Recoleta/RecoletaAlt-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Recoleta/RecoletaAlt-Regular.woff2') format('woff2'),
    url('../../public/fonts/Recoleta/RecoletaAlt-Regular.woff') format('woff'),
    url('../../public/fonts/Recoleta/RecoletaAlt-Regular.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta';
  src: url('../../public/fonts/Recoleta/Recoleta-Thin.eot');
  src:
    local('../../public/fonts/Recoleta/Recoleta Thin'),
    local('../../public/fonts/Recoleta/Recoleta-Thin'),
    url('../../public/fonts/Recoleta/Recoleta-Thin.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Recoleta/Recoleta-Thin.woff2') format('woff2'),
    url('../../public/fonts/Recoleta/Recoleta-Thin.woff') format('woff'),
    url('../../public/fonts/Recoleta/Recoleta-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('../../public/fonts/Recoleta/RecoletaAlt-Bold.eot');
  src:
    local('../../public/fonts/Recoleta/Recoleta Alt Bold'),
    local('../../public/fonts/Recoleta/RecoletaAlt-Bold'),
    url('../../public/fonts/Recoleta/RecoletaAlt-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Recoleta/RecoletaAlt-Bold.woff2') format('woff2'),
    url('../../public/fonts/Recoleta/RecoletaAlt-Bold.woff') format('woff'),
    url('../../public/fonts/Recoleta/RecoletaAlt-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('../../public/fonts/Recoleta/RecoletaAlt-Black.eot');
  src:
    local('../../public/fonts/Recoleta/Recoleta Alt Black'),
    local('../../public/fonts/Recoleta/RecoletaAlt-Black'),
    url('../../public/fonts/Recoleta/RecoletaAlt-Black.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Recoleta/RecoletaAlt-Black.woff2') format('woff2'),
    url('../../public/fonts/Recoleta/RecoletaAlt-Black.woff') format('woff'),
    url('../../public/fonts/Recoleta/RecoletaAlt-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('../../public/fonts/Recoleta/RecoletaAlt-Light.eot');
  src:
    local('../../public/fonts/Recoleta/Recoleta Alt Light'),
    local('../../public/fonts/Recoleta/RecoletaAlt-Light'),
    url('../../public/fonts/Recoleta/RecoletaAlt-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Recoleta/RecoletaAlt-Light.woff2') format('woff2'),
    url('../../public/fonts/Recoleta/RecoletaAlt-Light.woff') format('woff'),
    url('../../public/fonts/Recoleta/RecoletaAlt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta';
  src: url('../../public/fonts/Recoleta/Recoleta-SemiBold.eot');
  src:
    local('../../public/fonts/Recoleta/Recoleta SemiBold'),
    local('../../public/fonts/Recoleta/Recoleta-SemiBold'),
    url('../../public/fonts/Recoleta/Recoleta-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Recoleta/Recoleta-SemiBold.woff2') format('woff2'),
    url('../../public/fonts/Recoleta/Recoleta-SemiBold.woff') format('woff'),
    url('../../public/fonts/Recoleta/Recoleta-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta';
  src: url('../../public/fonts/Recoleta/Recoleta-Regular.eot');
  src:
    local('../../public/fonts/Recoleta/Recoleta Regular'),
    local('../../public/fonts/Recoleta/Recoleta-Regular'),
    url('../../public/fonts/Recoleta/Recoleta-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Recoleta/Recoleta-Regular.woff2') format('woff2'),
    url('../../public/fonts/Recoleta/Recoleta-Regular.woff') format('woff'),
    url('../../public/fonts/Recoleta/Recoleta-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta';
  src: url('../../public/fonts/Recoleta/Recoleta-Bold.eot');
  src:
    local('../../public/fonts/Recoleta/Recoleta Bold'),
    local('../../public/fonts/Recoleta/Recoleta-Bold'),
    url('../../public/fonts/Recoleta/Recoleta-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Recoleta/Recoleta-Bold.woff2') format('woff2'),
    url('../../public/fonts/Recoleta/Recoleta-Bold.woff') format('woff'),
    url('../../public/fonts/Recoleta/Recoleta-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta';
  src: url('../../public/fonts/Recoleta/Recoleta-Black.eot');
  src:
    local('../../public/fonts/Recoleta/Recoleta Black'),
    local('../../public/fonts/Recoleta/Recoleta-Black'),
    url('../../public/fonts/Recoleta/Recoleta-Black.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Recoleta/Recoleta-Black.woff2') format('woff2'),
    url('../../public/fonts/Recoleta/Recoleta-Black.woff') format('woff'),
    url('../../public/fonts/Recoleta/Recoleta-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: '../../public/fonts/Recoleta/Recoleta';
  src: url('../../public/fonts/Recoleta/Recoleta-Light.eot');
  src:
    local('../../public/fonts/Recoleta/Recoleta Light'),
    local('../../public/fonts/Recoleta/Recoleta-Light'),
    url('../../public/fonts/Recoleta/Recoleta-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Recoleta/Recoleta-Light.woff2') format('woff2'),
    url('../../public/fonts/Recoleta/Recoleta-Light.woff') format('woff'),
    url('../../public/fonts/Recoleta/Recoleta-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Averta Black */
@font-face {
  font-family: 'Averta';
  src: url('../../public/fonts/Averta/AvertaStd-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Averta Black Italic */
@font-face {
  font-family: 'Averta';
  src: url('../../public/fonts/Averta/AvertaStd-BlackItalic.ttf')
    format('truetype');
  font-weight: 900;
  font-style: italic;
}

/* Averta Bold */
@font-face {
  font-family: 'Averta';
  src: url('../../public/fonts/Averta/AvertaStd-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Averta Bold Italic */
@font-face {
  font-family: 'Averta';
  src: url('../../public/fonts/Averta/AvertaStd-BoldItalic.ttf')
    format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Averta ExtraBold */
@font-face {
  font-family: 'Averta';
  src: url('../../public/fonts/Averta/AvertaStd-ExtraBold.ttf')
    format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Averta ExtraBold Italic */
@font-face {
  font-family: 'Averta';
  src: url('../../public/fonts/Averta/AvertaStd-ExtraBoldItalic.ttf')
    format('truetype');
  font-weight: 800;
  font-style: italic;
}

/* Averta Extrathin */
@font-face {
  font-family: 'Averta';
  src: url('../../public/fonts/Averta/AvertaStd-Extrathin.ttf')
    format('truetype');
  font-weight: 100;
  font-style: normal;
}

/* Averta Extrathin Italic */
@font-face {
  font-family: 'Averta';
  src: url('../../public/fonts/Averta/AvertaStd-ExtrathinItalic.ttf')
    format('truetype');
  font-weight: 100;
  font-style: italic;
}

/* Averta Light */
@font-face {
  font-family: 'Averta';
  src: url('../../public/fonts/Averta/AvertaStd-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Averta Light Italic */
@font-face {
  font-family: 'Averta';
  src: url('../../public/fonts/Averta/AvertaStd-LightItalic.ttf')
    format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* Averta Regular */
@font-face {
  font-family: 'Averta';
  src: url('../../public/fonts/Averta/AvertaStd-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Averta Regular Italic */
@font-face {
  font-family: 'Averta';
  src: url('../../public/fonts/Averta/AvertaStd-RegularItalic.ttf')
    format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Averta Semibold */
@font-face {
  font-family: 'Averta';
  src: url('../../public/fonts/Averta/AvertaStd-Semibold.ttf')
    format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Averta Semibold Italic */
@font-face {
  font-family: 'Averta';
  src: url('../../public/fonts/Averta/AvertaStd-SemiboldItalic.ttf')
    format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* Averta Thin */
@font-face {
  font-family: 'Averta';
  src: url('../../public/fonts/Averta/AvertaStd-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/* Averta Thin Italic */
@font-face {
  font-family: 'Averta';
  src: url('../../public/fonts/Averta/AvertaStd-ThinItalic.ttf')
    format('truetype');
  font-weight: 100;
  font-style: italic;
}
